@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Globais*/

*{
    margin: 0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 0;
}

a{
    text-decoration: none;
}

.background{
    width: 100%;
    background-image: url(./img/background.png);
    background-size: cover;
    min-height: 739px;
    overflow: hidden;
}
.background-construcao{
    background-image: url(./img/construindo.png);
    background-size: cover;
}
#voltar-inicio{
    position: fixed;
    top: 300px;
    font-size: 30px;
    left: 500px;
    color: #fff;
}

.fundo_paginas{
    position: relative;
    width: 100%;
    height: 650px;
    backdrop-filter: blur(5px);
    top: 89px;
    align-items: center;
    border-radius: 5px;
}

.paginas-servicos{
    position: fixed;
    top: 100px;
    width: auto;
    text-align: center;
    color: #fff;
}

.botao_sair{
    position: fixed;
    top: 8px;
    right: 20px;
    font-size: 20px;
    color: #fff;
}
.botao_sair:hover{
    color: #ff0000;
    background-color: #0000002a;
}

/*js*/

#logo{
    position: fixed;
    top: 3px;
    display: flex;
    left: 10px;
    width: 140px;
    
}

#info{
    position: fixed;
    top: 15px;
    right: 15px;
    width: 40px;
    filter: invert(100%);
}

#info:hover{
    background-color: #00f7ff54;
    border-radius: 50px;
}



/*Pagina sobre*/

.sair_sobre{
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: #ffffffc2;
}

.sair_sobre:hover{
    color: #ff0000c4;
}

.text_sobre{
    position: fixed;
    width: 850px;
    top: 200px;
    left: 320px;
    background-color: #00000048;
    border-radius: 20px;
    margin: auto;
}
.text_sobre p{
    font-size: 20px;
    text-align: center;
    margin: 35px 20px;
    color: #fff;
}
.texto_servicos{
    width: 1400px;
    margin-left: 20px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    
}

/*home*/

.botoes-paginas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }
  
  .botoes-paginas a {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 11px;
    color: #fff; 
  }
  
  .texto_icones {
    margin-top: 7px;
    margin-bottom: 3px;
    text-align: center;
  }
  
  .icones-paginas {
    width: 50px;
    filter: invert(100%);
  }
  
 
  .container {
    position: fixed; 
    padding: 40px 0px;
    background-color: rgba(75, 69, 95, 0.192);
    backdrop-filter: blur(5px);
    top: 190px; 
    left: 460px;
    border-radius: 15px;
    margin: auto;
  }


/*Botões das Redes sociais*/

.redes{
    background-color: #00000054;
    border-radius: 20px;
    position: fixed;
    top: 507px;
    left: 630px;
    margin: auto;
}

.redes-socias{
    width: 20px;
    margin: 10px;
    filter: invert();
}



/* Pagina câmeras*/

.fundo_cameras{
    position: relative;
    width: 100%;
    height: 650px;
    background-color: rgba(238, 238, 238, 0.192);
    backdrop-filter: blur(5px);
    top: 89px;
    border-radius: 5px;
}

.pag_cameras{
    position: absolute;
    top: 30px;
    left: 220px;
    width: 1100px;
    text-align:center;
    color: #fff;
}

.detalhes{
    visibility: hidden;
    margin-left: 200px;
    color: #fff;
    transition: visibility 0s, opacity 0.5s linear;
}
.paginas-servicos:hover .detalhes{
    visibility: visible;
    opacity: 1;
}


#camera_bolinha{
    margin-left: 236px;
    margin-right: 50px;
    width: 270px;
}

#DVR{
    margin-right: 50px;
    width: 380px;
}

#camera{
    width: 300px;
}

.selo_Intelbras{
    margin-top: 280px;
    width: 160px;
}

/*Pagina Redes*/

.fundo_rede{
    background-color: rgba(89, 250, 223, 0.24);
}


.ilustracoes_rede{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.fotos_rede{
    margin-top: 50px;
    
}

#patch_fibra{
    width: 400px;
    margin-left: 80px;
}

#switch{
   width: 500px;
}

#servidores{
    width: 400px;
}

/* Pagina Helpdesk*/

.fundo_helpdesk{
    background-color: rgba(1, 68, 253, 0.288);
}
.fotos_helpdesk{
    max-width: 420px;
    margin-left: 21px;
}


/* Pagina Antivirus*/
.fundo_seguranca{
    background-color: rgba(153, 51, 248, 0.281);
}
.ilustracoes_seguranca{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.fotos_seguranca{
    max-width: 420px;
}
#cadeado{
    width: 350px;
    margin-left: 120px;
}

#escudo-MR{
    width: 290px; 
}

#no-bug{
    width: 295px;
}

/* Pagina Controle de acesso*/

.fundo_controle-acesso{
    background-color: rgba(16, 137, 194, 0.24);
}

.fotos_controle{
    max-width: 380px;
}

#leitor-facial{
    margin-left: 140px;
}

#leitor-dedo{
    margin-left: 30px;
}

#leitor-digital{
    margin-left: 30px;
}

/* Pagina Telefonia*/

.fundo_telefonia{
    background-color: rgba(200, 236, 133, 0.5);
}

.fotos_telefonia{
    max-width: 480px;
}


#Impacta{
    margin-left: 140px;
    margin-bottom: 35px;
    margin-right: 30px;
}

#central-voip{
    width: 390px;
    margin-bottom: 120px;
}

#telefone{
    width: 250px;
    margin-left: 50px;
    margin-bottom: -8px;
}

@media screen and (max-width: 1366px) {
   
   
    /* Pagina sobre*/
    .text_sobre{
        margin: 10px;
        width: auto;
        left: 150px;
        right: 165px;
    }
    
    .text_sobre p{
        font-size: 16px;
    }
/*----*/
.fundo_paginas{
    position: relative;
}


 /* Detalhes*/   
.detalhes{
 
}

.paginas-servicos{
position: relative;
}


.texto_servicos{
    margin: 30px;
    width: auto;
    
}


.container{
    left: 385px;
    }


.redes{
    left: 575px;
}

/*Pagina cameras*/

#camera_bolinha{
    margin-left: 0;
    width: 200px;
}

#camera {
    width: 200px;
}

#DVR{
    width: 200px;
}

.selo_Intelbras{
    margin-top: 195px;
    margin-left: 1100px;
}


/*Redes*/
.ilustracoes_rede{
display: flex;
flex-wrap: wrap;
}

#patch_fibra{
    margin-left: 0;
    width: 280px;
}

#switch{
    display: none;
}

#servidores{
    width: 300px;
}

/*helpdesk*/

#note-help{
    margin-left: 0;
    width: 360px;
}
#leitor-digital{
    
}
 }



@media screen and (max-width:932px) {
    .text_sobre{
        left: auto;
        right: auto;
        top: 185px;
    }

    .container{
        left: 180px;
        }
    .redes{
        left: 380px;
    }
    
}

@media screen and (max-width:667px) {
    .text_sobre{
        top: 180px;
        left: 0px;
    }
    .text_sobre p{
        font-family: 14px;
    }
    .container{
        left: 0px;
        }
    .redes{
        top: 520px;
        left: 150px;
    }
    .selo_Intelbras{
    width: 120px;
    margin-top: 40px;
}
}
