@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --menu-size: 250px;
}

*{
    margin: 0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 0;
}

body{
    overflow-x: hidden;
    background-image: url(../assets/Backgrund-2.jpg) ;
    background-size: contain;
}

ul{
    padding-inline-start: 0;
}


.cabecalho{
    position: fixed;
    width: 100%;
    background-color: #2e2e2ecc;
    z-index: 1000;
}

.menu{
    position: fixed;
    width: var(--menu-size);
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2e2e2e;
    z-index: 1000;
    margin-left: -var(--menu-size);
    transition: margin-left 0.4s ease;
}
.menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

}

.menu ul li{
    display: block;
    padding-top: 10px;
    margin: px;
}

.menu ul li a{
    color: #fff;
    font-size: 19px;
    text-decoration: none;
}

.menu ul li a:hover{
    background-color: #fff;
    color: #000000;
}

#botao-fechar{
    width: 23px;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin: 10px;
}

#botao-fechar:hover{
    cursor: pointer;
    background-color: #ff0000;
}

.hambuguer{
    position: fixed;

    padding-top: 7PX;
    padding-left: 10px;
    height: 45px;
    cursor: pointer;
}

.effect{
    transition: magin .4s;
}

.logo{ 
    display: block;
    padding-top: 7px;
}

#logo{
    display: block;
    height: 50px;
    padding-left: 650px;

}

.corpo-site{
    display: grid;
    
}

.inicio{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#video{
    display: flex;
    width: 65%;
    padding-top: 120px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

.sobre{
    position: relative;
    display: flex;
    top: 190px;
    padding: 100px 20px;
    background-image: linear-gradient(to bottom, black, rgba(28, 103, 201, 0.952) );
    height: 100%;
    margin: auto;
    min-height: 70vh;
}
.sobre p{
    display: flex;
    margin: auto;
    color: #ffffff;
    padding: 80px 20px;
    background-color: rgba(0, 0, 0, 0.200);
    border-radius: 20px;
    width: 80%;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.servicos{
    padding-top: 200px;
    display: grid;
    position: relative;
    top: 390px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    grid-template-columns: 220px 390px 200px;
    grid-auto-rows: 280px;
    background-image: url(../assets/Backgrund-3.jpg) ;
    background-size: cover;
    
}

.botao-servicos{
    position: relative;
   
    display: flex;
    bottom: 145px;
    height: 43px;
    border-color: #fff;
    border-radius: 10px;
    background-color: #0082fc;
    cursor: pointer;
}

.botao-servicos:hover{
    background-color: #cacaca;
}


#Botao-telefonia{
    left: 45px;
    width: 50%;
}

#Botao-voip{
    left: 148px;
    width: 20%;
}

#Botao-controle{
    left: 45px;
    width: 90%;
}


#Botao-cftv{
    left: 60px;
    width: 35%;
}

#Botao-rede{
    left: 150px;
    width: 17%;
}
#Botao-help{
    left: 65px;
    width: 70%;
}


#Telefonia{
    width: 215px;
    height: 250px;
}

#Voip{
    padding-left: 15px;
    width: 90%;
    height: 250px;
}

#Controle-de-acesso{
    width: 275px;
    height: 250px;
}

#CFTV{
    width: 215px;
    height: 250px;
}

#Rede{
    width: 90%;
    padding-left: 15px;
    height: 250px;
}

#Help-desk{
    height: 250px;
}

.clientes{
    position: relative;
    padding-top: 200px;
    width: 100%;
    top: 390px;
    min-height: 140vh;
    background-image: linear-gradient(rgb(38, 113, 199), #000000) ;
}

.logos-clientes{
    width: 80%; 
    padding: 40px 210px;
}

.botao-clientes{
    margin: 10px;
    border-radius: 5px;
}

.botao-clientes:hover{
    cursor: pointer;
}

#Promocional{
    margin: 5px 50px;
}

#USP{
    margin: 5px 25px;  
    background: #ffffff;
    border-radius: 5px;
}

.contato{
    display: grid;
    position: relative;
    top: 500px;
    padding-bottom: 160px;
    width: 100%;
    align-items: center;
    justify-content: center;
}


#Titulo-form{
    margin: 60px 150px;
    color: #fff;
    font-size: 60px;    
}

.titulos-input{
    color: #fff;
    font-size: 25px;
}

.input-form{
   width: 400px;
}

.botao-contato{
  margin-left: 490px;
}