@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: block;
    background-image: url(../assets/Backgrund-2.jpg) ;
    background-size: contain;
}
ul{
    list-style: none;
    padding-inline-start: 0;
}

input[type="checkbox"] {
    display: none;
}

.menu{
    margin: auto;
    display: none;
    position: absolute;
    height: 100%;
    width: 16%;
    background-color: #333;

}

input[type="checkbox"]:checked ~ div {
    display: block;
}
.botoes-menu{ 
    list-style: none;
    margin-right: 10px;
    margin-top: 20px;
    
}

.botoes-menu li{
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    display: inline;
    

}
.botoes-menu li a{
    text-decoration: none;
    color: #fff;

    padding: 20px 5px;
    width: 100%;
    height: 100%;
}
.botoes-menu li a:hover{
    background-color: #fff;
    color: rgb(0, 0, 0);
}


.x{ 
    position: relative;
    padding: 22px;
    left:  80%;
    color: #e0e0e0;
    cursor: pointer;
}

.cabecalho{
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.925);
   
}
.hambuguer{
    position: absolute;
    padding-top: 7PX;
    padding-left: 5px;
    height: 45px;
    cursor: pointer;
}

.logo{ 
    display: flex;
    padding-top: 7px;
}

#logo{
    display: flex;
    height: 50px;
    padding-left: 650px;

}

.corpo-site{
    display: grid;
    
}

.inicio{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#video{
    display: flex;
    width: 900px;
    padding-top: 120px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

.sobre{
    position: relative;
    display: flex;
    top: 190px;
    padding: 100px 20px;
    background-image: linear-gradient(to bottom, black, rgba(28, 103, 201, 0.952) );
    height: 100%;
    margin: auto;
    min-height: 70vh;
}
.sobre p{
    display: flex;
    margin: auto;
    color: #ffffff;
    padding: 80px 20px;
    background-color: rgba(0, 0, 0, 0.200);
    border-radius: 20px;
    width: 80%;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.servicos{
    padding-top: 200px;
    display: grid;
    position: relative;
    top: 390px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    grid-template-columns: 220px 390px 200px;
    grid-auto-rows: 280px;
    background-image: url(../assets/Backgrund-3.jpg) ;
    background-size: cover;
    
}

.botao-servicos{
    position: relative;
   
    display: flex;
    bottom: 145px;
    height: 43px;
    border-color: #fff;
    border-radius: 10px;
    background-color: #0082fc;
    cursor: pointer;
}

.botao-servicos:hover{
    background-color: #fff;
}


#Botao-telefonia{
    left: 45px;
    width: 50%;
}

#Botao-voip{
    left: 148px;
    width: 20%;
}

#Botao-controle{
    left: 45px;
    width: 90%;
}


#Botao-cftv{
    left: 60px;
    width: 35%;
}

#Botao-rede{
    left: 150px;
    width: 17%;
}
#Botao-help{
    left: 65px;
    width: 70%;
}


#Telefonia{
    width: 215px;
    height: 250px;
}

#Voip{
    padding-left: 15px;
    width: 90%;
    height: 250px;
}

#Controle-de-acesso{
    width: 275px;
    height: 250px;
}

#CFTV{
    width: 215px;
    height: 250px;
}

#Rede{
    width: 90%;
    padding-left: 15px;
    height: 250px;
}

#Help-desk{
    height: 250px;
}

.clientes{
    position: relative;
    padding-top: 200px;
    width: 100%;
    top: 380px;
    min-height: 100vh;
    background-image: linear-gradient(rgb(12, 124, 253), #000000) ;
    background-size: cover;
}

.logos-clientes{
    width: 80%; 
    margin: auto;
    padding: 40px 260px;
}

#sabara{
    margin: 10px;
}
#Aeasp{
    margin: 10px;
}